[LC] PipeDrive TG Updating.json
{
  "name": "[LC] PipeDrive TG Updating",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "livechat/update-telegram",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -224,
        -448
      ],
      "id": "e336cf0f-1b98-4422-8f47-20d9b31663af",
      "name": "Webhook",
      "webhookId": "5d9f98df-7157-4a92-85aa-195ac5202cb9"
    },
    {
      "parameters": {
        "url": "https://multilogin.pipedrive.com/api/v1/persons/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "term",
              "value": "={{ $json.body.customer_email || $json.body.email }}"
            },
            {
              "name": "fields",
              "value": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        32,
        -448
      ],
      "id": "ce3c5cfe-8e8f-4ef9-b715-7131f765c07c",
      "name": "Find Person",
      "credentials": {
        "pipedriveApi": {
          "id": "b8EbGWnJ4cIPZfAt",
          "name": "Pipedrive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7ec96225-264b-4e64-8572-744a9fd8a63a",
              "leftValue": "={{ $json.data.items[0].item.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -448
      ],
      "id": "e52ae0c0-3818-48bb-900f-45a63be9762c",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"updated_tg_username\": \"{{ $('Webhook').item.json.body.new_telegram_username }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        928,
        -496
      ],
      "id": "41f6aa85-5fa9-44a6-8682-faea0dad3b94",
      "name": "TG Username was updated"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"not_found_in_pipedrive\": true\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        624,
        -320
      ],
      "id": "7f367443-12fb-4069-8dff-ac0bb0b7086c",
      "name": "User not found in PipeDrive"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://multilogin.pipedrive.com/api/v1/persons/{{ $json.data.items[0].item.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "pipedriveApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cfd0a70d8c67c48fcdd01a264039b115c0acd7bd\": \"{{ $('Webhook').item.json.body.new_telegram_username }}\"\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -496
      ],
      "id": "09dd8651-a92c-4530-8704-00305a68a38b",
      "name": "Update Telegram",
      "credentials": {
        "pipedriveApi": {
          "id": "b8EbGWnJ4cIPZfAt",
          "name": "Pipedrive account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "npm.mlx.yt",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "80.74.29.34, 172.70.46.235",
            "x-real-ip": "172.70.46.235",
            "content-length": "1168",
            "sec-fetch-dest": "empty",
            "referer": "https://ivankatanov.github.io/",
            "priority": "u=1, i",
            "accept-language": "ru,en;q=0.9",
            "cf-ray": "987cff56ec910e9c-AMS",
            "accept-encoding": "gzip, br",
            "sec-ch-ua-platform": "\"Windows\"",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 YaBrowser/25.8.0.0 Safari/537.36",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"YaBrowser\";v=\"25.8\", \"Yowser\";v=\"2.5\"",
            "content-type": "application/json",
            "sec-ch-ua-mobile": "?0",
            "x-webhook-secret": "replace-with-real-secret",
            "accept": "*/*",
            "origin": "https://ivankatanov.github.io",
            "sec-fetch-site": "cross-site",
            "sec-fetch-mode": "cors",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "80.74.29.34",
            "cf-ipcountry": "NL",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "chat_id": "T33G6LCLN3",
            "thread_id": "T33G6LCLO3",
            "customer_email": "santidenaliagency@gmail.com",
            "telegram_username": "@santidenaliagency",
            "new_telegram_username": "@santidenaliagency",
            "profile": {
              "id": "b289fb08-66b5-46c5-8024-ae6469bab6a3",
              "name": "Visitor",
              "email": "santidenaliagency@gmail.com",
              "geolocation": {
                "city": "Córdoba",
                "country": "Argentina",
                "country_code": "AR",
                "latitude": "-31.4057",
                "longitude": "-64.1849",
                "region": "Cordoba",
                "timezone": "America/Argentina/Cordoba"
              },
              "customVariables": {
                "language": "en",
                "plan": "Pro_10 (monthly)",
                "role": "owner",
                "source": "MLX",
                "workspaceId": "6324ddec-3741-4bf1-bcb6-1d426fccc11c",
                "billingId": ""
              },
              "preChatSurvey": [
                {
                  "question": "Select the issue that you're facing",
                  "answer": "I'm exploring Multilogin..."
                },
                {
                  "question": "Kindly describe the issue in 1-2 sentences, making sure to include any error messages received, if possible.",
                  "answer": "When I want to create a profile after copying the custom prozy it tells me \"Access denied\""
                },
                {
                  "question": "Email",
                  "answer": "santidenaliagency@gmail.com"
                },
                {
                  "question": "Interested in our exclusive offers? Leave your TG contact @",
                  "answer": "@santidenaliagency"
                }
              ]
            },
            "client_time_zone": "Europe/Moscow"
          },
          "webhookUrl": "https://npm.mlx.yt/webhook/livechat/update-telegram",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Find Person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Person": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "User not found in PipeDrive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Telegram": {
      "main": [
        [
          {
            "node": "TG Username was updated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14cf72d0-2cf7-46ef-a59e-8d8abaa87c89",
  "meta": {
    "instanceId": "48763341f0ef959dc9d5d122892637f2019b8db2b8a7371363d27789470e2ddd"
  },
  "id": "yVv5MrmkhynSUl4z",
  "tags": [
    {
      "createdAt": "2025-09-04T08:28:02.818Z",
      "updatedAt": "2025-09-04T08:28:02.818Z",
      "id": "4TP2RgEGEj13by2o",
      "name": "Production"
    }
  ]
}
